/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-sep-2014, 17:10:01
    Author     : raznara
*/

h1, h2, h3 {
    text-align: center;
}
table {
    margin: 0 auto;
    width: 250px;
    border: 1px solid #000;
}
th, td {
    border: 1px solid #000;
    background-color: blanchedalmond;
    text-align: center
}