<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>calculadora</servlet-name>
        <servlet-class>net.rafaelaznar.control.calculadora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calculadorajax</servlet-name>
        <servlet-class>net.rafaelaznar.control.calculadorajax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calculadorajaxretardo</servlet-name>
        <servlet-class>net.rafaelaznar.control.calculadorajaxretardo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer01peticionHTTP</servlet-name>
        <servlet-class>net.rafaelaznar.control.ejer01peticionHTTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tablamultiplicar</servlet-name>
        <servlet-class>net.rafaelaznar.control.tablamultiplicar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagesServer</servlet-name>
        <servlet-class>net.rafaelaznar.control.ImagesServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer02loginform</servlet-name>
        <servlet-class>net.rafaelaznar.control.ejer02loginform</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>ejer03Calculadora</servlet-name>
        <servlet-class>net.rafaelaznar.control.ejer03Calculadora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer04combosEncadenados</servlet-name>
        <servlet-class>net.rafaelaznar.control.ejer04combosEncadenados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer05contador</servlet-name>
        <servlet-class>net.rafaelaznar.control.ejer05contador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer06contadorSesion</servlet-name>
        <servlet-class>net.rafaelaznar.control.ejer06contadorSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer07login</servlet-name>
        <servlet-class>net.rafaelaznar.control.ejer07login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer08carrito</servlet-name>
        <servlet-class>net.rafaelaznar.control.ejer08carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer09superContador</servlet-name>
        <servlet-class>net.rafaelaznar.control.ejer09superContador</servlet-class>
        <init-param>
            <param-name>fichero</param-name>
            <param-value>contador.txt"</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ejer10chat</servlet-name>
        <servlet-class>net.rafaelaznar.control.ejer10chat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ejer02loginform</servlet-name>
        <url-pattern>/ejer02loginform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer04combosEncadenados</servlet-name>
        <url-pattern>/ejer04combosEncadenados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer03Calculadora</servlet-name>
        <url-pattern>/ejer03Calculadora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calculadora</servlet-name>
        <url-pattern>/calculadora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calculadorajax</servlet-name>
        <url-pattern>/calculadorajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calculadorajaxretardo</servlet-name>
        <url-pattern>/calculadorajaxretardo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer01peticionHTTP</servlet-name>
        <url-pattern>/ejer01peticionHTTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tablamultiplicar</servlet-name>
        <url-pattern>/tablamultiplicar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagesServer</servlet-name>
        <url-pattern>/imagesserver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer05contador</servlet-name>
        <url-pattern>/ejer05contador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer06contadorSesion</servlet-name>
        <url-pattern>/ejer06contadorSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer07login</servlet-name>
        <url-pattern>/ejer07login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer08carrito</servlet-name>
        <url-pattern>/ejer08carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer09superContador</servlet-name>
        <url-pattern>/ejer09superContador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer10chat</servlet-name>
        <url-pattern>/ejer10chat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>menu.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>tabla.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
